# Frontend
streamlit==1.39.0

# Backend API
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6

# ML and NLP
langchain==0.2.14
langchain-community==0.2.11
chromadb==0.5.3
sentence-transformers==3.0.1
pymupdf==1.24.10
pytesseract==0.3.10
Pillow==10.4.0
python-dotenv==1.0.1
llama-cpp-python==0.2.90
pandas==2.2.2
numpy==1.26.4
tqdm==4.66.4

#paddle update

#for below pakage run below: 
# pip uninstall torch torchvision torchaudio -y
# pip install torch==2.2.2 torchvision==0.17.2 torchaudio==2.2.2 --index-url https://download.pytorch.org/whl/cpu

torch==2.2.2 
torchvision==0.17.2 
torchaudio==2.2.2
 
""" run below command before installing opencv 
 pip uninstall opencv-python-headless -y
 pip uninstall opencv-python -y
 pip uninstall opencv-contrib-python -y"""

opencv-python==4.6.0.66 
opencv-contrib-python==4.6.0.66

numpy==1.26.4  # pip install numpy==1.26.4 --force-reinstall

transformers==4.40.2

# pip uninstall paddleocr -y
paddleocr==2.7.3

# pip uninstall paddlepaddle -y
paddlepaddle==2.6.2

paddlex==3.4.1


